{% extends 'base.html.twig' %}

{% block title %}Series index
{% endblock %}
{% set noposter = "https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg" %}
{% block body %}
	{% if series|length > 0 %}
		{% include('./header.html.twig') with {'poster_picture_id': (series|first).id} %}
	{% else %}
		{% include('./header.html.twig') %}
	{% endif %}
	<div class="flex ">
		<div x-data="{ open: false }" class="bg-[--dark-blue] py-20 xl:translate-x-0 xl:relative absolute xl:z-0 z-30 xl:rounded-0 rounded transition-all ease-in-out duration-200" :class="{ 'translate-x-0': open, '-translate-x-full': !open }">
			<form action="" class="p-2 " method="get">
				<div class="py-1">
					<div class="focus:ring-2 rounded-full bg-[--grey] flex px-2  py-1 items-center">
						<input type="text" class="bg-transparent outline-none rounded" name="init"/>
						<input type="submit" value="">
						<i class="nf nf-fa-search text-white cursor-pointer" onclick="formSubmit(event)"></i>
					</div>
				</div>
				<div id="filters" class="flex flex-col gap-1 py-2 ">
					<div x-data="{syno:false}" class="group shadow-[0px_1px_10px_5px_rgba(0,0,0,1)] rounded ">
						<div @click="syno = !syno" class=" flex  z-20 bg-inherit relative rounded items-center gap-2 p-2 hover:bg-[--grey] ">
							<i class="nf nf-fa-filter text-white cursor-pointer transition-all ease-in-out duration-200" :class="{ '-rotate-0': syno, '-rotate-90':!syno}"></i>
							<p>Synopsis</p>
						</div>
						<div class="p-2 bg-divide-[--grey] rounded-b w-full flex justify-center" :class="{ 'flex': syno, 'hidden': !syno }">
							<input type="text" class="rounded-full bg-[--grey] flex px-2  py-1 items-center" name="syno"/>
						</div>
					</div>
					<div x-data="{rate:false}" class="group shadow-[0px_1px_10px_5px_rgba(0,0,0,1)] rounded ">
						<div @click="rate = !rate" class=" flex  z-20 bg-inherit relative rounded items-center gap-2 p-2 hover:bg-[--grey] ">
							<i class="nf nf-fa-filter text-white cursor-pointer  transition-all ease-in-out duration-200" :class="{ '-rotate-0': rate, '-rotate-90':!rate}"></i>
							<p>Rating</p>
						</div>
						<div id="rate_range" class="p-2 bg-divide-[--grey] rounded-b w-full flex justify-center" :class="{ 'block': rate, 'hidden': !rate }">
							<div class="flex h-auto p-[4px] rounded w-auto relative gap-1">
								{% for i in 0..4 %}
									{% set fillstar = min(1,max(4.3 - i, 0)) * 100 %}
									<div class="relative w-4 h-4">
										<i id="rate-star-grey-{{i}}" class="absolute nf nf-fa-star text-[--grey] "></i>
										<i id="rate-star-yellow-{{i}}" class="absolute nf nf-fa-star text-yellow-500"></i>
									</div>
								{% endfor %}
								<input name="Srate" min="0" max="10" id="rate-min" value="0" class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
								<input name="rateE" min="0" max="10" id="rate-max" value="10" class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
							</div>
						</div>
					</div>
					<div x-data="{date:false}" class="group shadow-[0px_1px_10px_5px_rgba(0,0,0,1)] rounded ">
						<div @click="date = !date" class="flex  z-20 bg-inherit relative rounded items-center gap-2 p-2 hover:bg-[--grey]">
							<i class="nf nf-fa-filter text-white cursor-pointer  transition-all ease-in-out duration-200" :class="{ '-rotate-0': date, '-rotate-90':!date}"></i>
							<p>Date</p>
						</div>
						<div class="range p-2 py-8 bg-divide-[--grey] rounded-b" :class="{ 'block': date, 'hidden': !date }">
							<div class="flex h-2 bg-[--grey] rounded w-auto relative">
								<span id="date-text-min" class="-translate-x-1/4 absolute top-4 bg-indigo-500 text-white rounded text-xs p-1">1964</span>
								<span id="date-text-max" class="translate-x-1/4 absolute -top-8 right-0 bg-indigo-500 text-white rounded text-xs p-1">2024</span>
								<span id="date-range-span" class="absolute bg-indigo-500 h-full w-full rounded"></span>
								<input name="Syear" min="1964" max="{{ "now"|date("Y")}}" id="date-min" value="1964" class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
								<input name="yearE" min="1964" max="{{ "now"|date("Y")}}" id="date-max" value="{{ "now"|date("Y")}}" class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
							</div>
						</div>
					</div>
					<div x-data="{genre:false}" class="group shadow-[0px_1px_10px_5px_rgba(0,0,0,1)] rounded ">
						<div @click="genre = !genre" class="flex  z-20 bg-inherit relative rounded items-center gap-2 p-2 hover:bg-[--grey]">
							<i class="nf nf-fa-filter text-white cursor-pointer  transition-all ease-in-out duration-200" :class="{ '-rotate-0': genre, '-rotate-90':!genre}"></i>
							<p>Genres</p>
						</div>
						<div class="p-2 py-4 bg-divide-[--grey] rounded-b" :class="{ 'block': genre, 'hidden': !genre }">
							<div class="grid rounded grid-cols-2">
								{% for genre in genres %}
									<div class="flex gap-2 items-baseline leading-4 pb-1">
										<input type="checkbox" class="genre" id="{{genre}}">
										<p>{{genre}}</p>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				{% if app.user %}
					<div class="py-1">
						<div class="flex gap-2 px-2 py-1 items-center">
							<input type="checkbox" class="bg-transparent outline-none rounded" name="followed-users"/>
							<p>Followed by your friends</p>
						</div>
					</div>
				{% endif %}
			</form>
			<div @click="open = !open" class="xl:hidden block absolute -right-6 top-8 p-2 rounded  bg-gradient-to-l from-[--grey] to-[--dark-blue] ">
				<i class="nf  text-xl" :class="{ 'nf-md-arrow_expand_left': open, 'nf-md-arrow_expand_right': !open }"></i>
			</div>
		</div>
		<div class="xl:px-10 w-full scrollable">
			{% include('./pagination.html.twig') with {'app_path': "app_series_index", "pagesNb": pagesNb} %}
			<div class="md:grid flex gap-4 md:grid-cols-5 md:grid-rows-2 md:overflow-hidden overflow-auto ">
				{% for series in series %}
					<div class="flex flex-col px-5 ">
						<div class="relative w-[10rem] h-64 group overflow-hidden rounded ">
							<a href="{{ path('app_series_show', {'id': series.id}) }}">
								{%if series.poster %}
									<img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="shadow-sm w-full h-full object-cover max-w-48 ">
								{% else %}
								<img src={{noposter}} alt="No poster" class="shadow-sm w-full h-full object-cover max-w-48 ">
								{% endif %}
							</a>
							{% include('./follow.html.twig') with {'serie': series} %}
						</div>
						<div class="p-2 ">
							<h1 class="text-white font-bold ">{{ series.title }}</h1>
							{# <p>{{ series.plot }}</p>  #}
							<p>{{ series.yearStart }}</p>
						</div>
					</div>
				{% else %}
					<div>
						<p>no records found</p>
					</div>
				{% endfor %}
			</div>
			{% include('./pagination.html.twig') with {'app_path': "app_series_index", "pagesNb": pagesNb} %}

		</div>
	</div>
	<style>
		.range input {
			pointer-events: none;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
		.range input::-webkit-slider-thumb {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			border: 3px solid #1b53c0;
			background-color: #fff;
			pointer-events: auto;
			-webkit-appearance: none;

		}
		.range input::-moz-range-thumb {
			height: 15px;
			width: 15px;
			border-radius: 50%;
			border: 3px solid #1b53c0;
			background-color: #fff;
			pointer-events: auto;
			-moz-appearance: none;
		}
		#rate_range input {
			pointer-events: none;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
		#rate_range input::-webkit-slider-thumb {
			height: 20px;
			width: 4px;
			border-radius: 2px;
			background-color: #fff;
			pointer-events: auto;
			-webkit-appearance: none;
		}

		#rate_range::-moz-range-thumb {
			pointer-events: auto;
			-moz-appearance: none;
		}
	</style>
	<script src="{{asset("search_bar.js")}}"></script>
{% endblock %}
