{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
	{% include('./header.html.twig')  %}

    {% if page > 0 %}<a href="{{ path('app_series_index', {'page': page - 1}) }}"><-</a>{% endif %}
    {% for i in 0..pagesNb %}
        <a href="{{ path('app_series_index', {'page': i}) }}">{{ i }}</a>
    {% endfor %}
    {% if page < pagesNb-1 %}<a href="{{ path('app_series_index', {'page': page + 1}) }}">-></a>{% endif %}
    {% for series in series %}
        <div class="flex">
			<img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="p-5">
            <div>
                <p>{{ series.title }}</p>
                <p>{{ series.plot }}</p>
                <p>{{ series.imdb }}</p>
                <p>{{ series.director }}</p>
                <p>{{ series.youtubeTrailer }}</p>
                <p>{{ series.awards }}</p>
                <p>{{ series.yearStart }}</p>
                <p>{{ series.yearEnd }}</p>
            </div>
            <p>
                <a href="{{ path('app_series_show', {'id': series.id}) }}">show</a>
            </p>
        </div>
    {% else %}
        <div>
            <p >no records found</p>
        </div>
    {% endfor %}
{% endblock %}
