{% extends 'base.html.twig' %}

{% block title %}Series index
{% endblock %}

{% block body %}
	<script>
		function formSubmit(e) {
e.preventDefault();
const form = document.querySelector('form');
var checkboxes = document.querySelectorAll(".genre");
var genres = [];
for (var i = 0; i < checkboxes.length; i++) {
if (checkboxes[i].checked) {
genres.push(checkboxes[i].id);
}

}

var input = document.createElement('input');
input.setAttribute('name', "genre");
input.setAttribute('value', genres.join("_"));

form.appendChild(input);

form.submit();
}
	</script>
	{% if series|length > 0 %}
		{% include('./header.html.twig') with {'poster_picture_id': (series|first).id} %}
	{% else %}
		{% include('./header.html.twig') %}
	{% endif %}
	<div class="flex ">
		<div x-data="{ open: false }" class="bg-[--dark-blue] py-20 xl:translate-x-0 xl:relative absolute xl:z-0 z-30 xl:rounded-0 rounded transition-all ease-in-out duration-200" :class="{ 'translate-x-0': open, '-translate-x-full': !open }">
			<form action="" class="p-2 " method="get">
				<div class="py-1">
					<div class="rounded-full bg-[--grey] flex px-2  py-1 items-center">
						<input type="text" class="bg-transparent" name="init"/>
						<input type="submit" value="">
						<i class="nf nf-fa-search text-white cursor-pointer" onclick="formSubmit(event)"></i>
					</div>
					<div class="flex gap-2 px-1">
						<input type="checkbox" name="synopsis">
						<p>Search in synopsis</p>
					</div>
				</div>
				<div
					id="filters" class="flex flex-col gap-1 py-2 ">
					{# <div x-data="{rating:false}" class="group shadow-[0px_1px_10px_5px_rgba(0,0,0,1)] rounded ">
											<div @click="rating = !rating" class="flex  z-20 bg-inherit relative rounded items-center gap-2 p-2 hover:bg-[--grey]">
												<i class="nf nf-fa-expand text-white cursor-pointer"></i>
												<p>Rating</p>
											</div>
											<div id="rate_range" class="p-2 py-4 bg-divide-[--grey] rounded-b" :class="{ 'block': rating, 'hidden': !rating }">
												<div class="flex h-2 bg-[--grey] rounded w-auto relative">
													<input value="" class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
													<input class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
												</div>
											</div>
										</div> #}
					<div x-data="{date:false}" class="group shadow-[0px_1px_10px_5px_rgba(0,0,0,1)] rounded ">
						<div @click="date = !date" class="flex  z-20 bg-inherit relative rounded items-center gap-2 p-2 hover:bg-[--grey]">
							<i class="nf nf-fa-expand text-white cursor-pointer"></i>
							<p>Date</p>
						</div>
						<div id="rate_range" class="p-2 py-4 bg-divide-[--grey] rounded-b" :class="{ 'block': date, 'hidden': !date }">
							<div class="flex h-2 bg-[--grey] rounded w-auto relative">
								<span id="date-range-span" class="absolute bg-indigo-500 h-full w-full rounded"></span>
								<input id="date-min" value="0" class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
								<input id="data-max" value="{{ "now"|date("Y")}}" class="absolute top-0 left-0 w-full h-full bg-transparent appearance-none" type="range" style="-webkit-appearance: none;">
							</div>
						</div>
					</div>
					<div x-data="{rating:false}" class="group shadow-[0px_1px_10px_5px_rgba(0,0,0,1)] rounded ">
						<div @click="rating = !rating" class="flex  z-20 bg-inherit relative rounded items-center gap-2 p-2 hover:bg-[--grey]">
							<i class="nf nf-fa-expand text-white cursor-pointer"></i>
							<p>Genres</p>
						</div>
						<div class="p-2 py-4 bg-divide-[--grey] rounded-b" :class="{ 'block': rating, 'hidden': !rating }">
							<div class="grid rounded grid-cols-2">
								{% for genre in genres %}
									<div class="flex gap-2 items-baseline leading-4 pb-1">
										<input type="checkbox" class="genre" id="{{genre}}">
										<p>{{genre}}</p>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</form>
			<div @click="open = !open" class="xl:hidden block absolute -right-6 top-8 p-2 rounded  bg-gradient-to-l from-[--grey] to-[--dark-blue] ">
				<i class="nf  text-xl" :class="{ 'nf-md-arrow_expand_left': open, 'nf-md-arrow_expand_right': !open }"></i>
			</div>
		</div>
		<div class="xl:px-10 w-full scrollable">
			{% include('./pagination.html.twig') with {'app_path': "app_series_index", "pagesNb": pagesNb} %}
			<div class="md:grid flex gap-4 md:grid-cols-5 md:grid-rows-2 md:overflow-hidden overflow-auto ">
				{% for series in series %}
					<div class="flex flex-col px-5 ">
						<div class="relative w-[10rem] h-64 group overflow-hidden rounded">
							<a href="{{ path('app_series_show', {'id': series.id}) }}">
								<img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="shadow-sm w-full h-full object-cover max-w-48 ">
							</a>
							{% include('./follow.html.twig') with {'serie': series} %}
						</div>
						<div class="p-2 ">
							<h1 class="text-white font-bold ">{{ series.title }}</h1>
							{# <p>{{ series.plot }}</p>  #}
							<p>{{ series.yearStart }}</p>
						</div>
					</div>
				{% else %}
					<div>
						<p>no records found</p>
					</div>
				{% endfor %}
			</div>
			{% include('./pagination.html.twig') with {'app_path': "app_series_index", "pagesNb": pagesNb} %}

		</div>
	</div>
	<style>
		#rate_range input {
			pointer-events: none;
			-webkit-appearance: none;
			-moz-appearance: none;
		}
		#rate_range input::-webkit-slider-thumb {
			height: 20px;
			width: 20px;
			border-radius: 50%;
			border: 3px solid #1b53c0;
			background-color: #fff;
			pointer-events: auto;
			-webkit-appearance: none;

		}
		#rate_range input::-moz-range-thumb {
			height: 15px;
			width: 15px;
			border-radius: 50%;
			border: 3px solid #1b53c0;
			background-color: #fff;
			pointer-events: auto;
			-moz-appearance: none;
		}
	</style>
	<script>
		var dateRange = document.getElementById('date-range-span');
		var dateMin = document.getElementById('date-min');
		var dateMax = document.getElementById('data-max');
		var dateMinValue = dateMin.value;
		var dateMaxValue = dateMax.value;	
		var dateRangeWidth = dateRange.offsetWidth;
		dateMin.oninput = function () {
			if (parseInt(dateMin.value) >= parseInt(dateMax.value)){
				dateMax.value = dateMin.value
			}
			var dateRangeValue = dateRangeWidth / (dateMaxValue - dateMinValue);
			dateRange.style.width = dateRangeValue * (dateMax.value - dateMin.value) + "px";
			dateRange.style.left = dateMin.value * dateRangeValue + "px";
		}
		dateMax.oninput = function () {
			if (parseInt(dateMax.value) <= parseInt(dateMin.value)){
				dateMin.value = dateMax.value
			}
			var dateRangeValue = dateRangeWidth / (dateMaxValue - dateMinValue);
			dateRange.style.width = dateRangeValue * (dateMax.value - dateMin.value) + "px";
			dateRange.style.left = dateMin.value * dateRangeValue + "px";
		}
	</script>
{% endblock %}
