{% extends 'base.html.twig' %}

{% block title %}Series index{% endblock %}

{% block body %}
	{% include('./header.html.twig') with {'poster_picture': path('app_series_poster', {'id': (series|first).id}) } %}
    <div class="flex gap-2 justify-center p-2">
        {% if page > 0 %}<a href="{{ path('app_series_index', {'page': page - 1}) }}"><-</a>{% endif %}
        {% for i in 0..pagesNb %}
            
            <a href="{{ path('app_series_index', {'page': i}) }}" class="px-1 w-6 flex justify-center items-center {% if i == page %} rounded bg-cyan-600  {% endif %}">{{ i + 1}}</a>
        {% endfor %}
        {% if page < pagesNb-1 %}<a href="{{ path('app_series_index', {'page': page + 1}) }}">-></a>{% endif %}
    </div>
    <div class="flex flex-wrap px-32">
    {% for series in series %}
        <a href="{{ path('app_series_show', {'id': series.id}) }}" class="w-1/5 p-4">
            <img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="w-auto h-full object-cover max-w-48 ">
        </a>
        {# <div class="p-2">
            <h1>{{ series.title }}</h1>
            <p>{{ series.plot }}</p>
            <p>{{ series.imdb }}</p>
            <p>{{ series.director }}</p>
            <p>{{ series.youtubeTrailer }}</p>
            <p>{{ series.awards }}</p>
            <p>{{ series.yearStart }}</p>
            <p>{{ series.yearEnd }}</p>
        </div> #}
    {% else %}
        <div>
            <p >no records found</p>
        </div>
    {% endfor %}
    </div>
{% endblock %}
