{% extends 'base.html.twig' %}

{% block title %}
	{{ series.title }}
{% endblock %}
{% set noposter = "https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg" %}
{% block body %}

	{% include('./header.html.twig') with {'poster_picture_id': series.id} %}
	{% set url = series.youtubeTrailer | split('='	)[1] %}
	{% set totalSeriesCount = 0 %}
	{% set avgSeriesRates = 0 %}
	{% if app.user %}
		{% set userRating = ratings|filter(r => r.user.id == app.user.id)|first %}
	{% endif %}
	{% for r in ratings %}
		{% if series.id == r.series %}
			{% set totalSeriesCount = totalSeriesCount + 1 %}
			{% set avgSeriesRates = avgSeriesRates + r.value %}
		{% endif %}
	{% endfor %}
	{% if totalSeriesCount > 0 %}
		{% set avgSeriesRates = ((avgSeriesRates / totalSeriesCount *10)|round /10)/2 %}
	{% endif %}

	<div id="confirmation" class="bg-[--grey] z-[100] absolute hidden">
		Have you watched previous episodes ?
		<button>yes</button>
		<button>no</button>
	</div>

	<iframe class="xl:hidden block absolute w-[100vw] h-[56vw] -translate-y-[20%] -z-[1000]" id="trailer" allow="autoplay" src="https://youtube.com/embed/{{url}}?controls=0&autoplay=1&mute=1&modestbranding=1&showinfo=0&rel=0&loop=1&cc_load_policy=1&showinfo=0autohide=2&playlist={{url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" style="-webkit-mask-image: linear-gradient(0deg, transparent 0,#030516 100%)"></iframe>
	<div x-data="{ following: {{ (app.user and app.user.getSeries().contains(series)) ? 'true' : 'false'}} }" class="flex sm:px-12 px-4 xl:py-12 pt-64 relative sm:flex-row flex-col">
		<div class="flex flex-col sm:items-left items-center">
			<div class="m-3 w-64 ">
				<div class="relative">
					{%if series.poster %}
							<img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="w-full ">
					{% else %}
							<img src="{{ noposter }}" alt="Series poster" class="w-full ">
					{% endif %}
					{% include ('./percentage.html.twig') with {'percent': percentage_serie, 'name': "progress_bar_serie"} %}
				</div>
				<div class="bg-[--grey] p-2 rounded flex justify-around">
					{% if app.user %}
						<button @click="following = !following" onclick="follow('{{ path('app_series_update_followed', {'id': series.id, 'update': series.getId()}) }}')">
							<i id="season-follow-{{series.getId()}}" class="nf" :class="{ 'nf-fa-bookmark': following, 'nf-fa-bookmark_o': !following }"></i>
						</button>
						{% if series.getSeasons()|length > 0  %}
							{% if (series.getSeasons()|last).getEpisodes()|length > 0%}
								{% set episode = (series.getSeasons()|last).getEpisodes()|last %}
								<button id="see_all" onclick="watch_ep('{{ path('app_series_update', {'id': series.getId(), 'update': episode.getId()}) }}'	, true )">
									{% if percentage_serie == 100 %}
										<i id="ep-{{episode.getId()}}" class="nf nf-fa-check"></i>
									{% else %}
										<i id="ep-{{episode.getId()}}" class="nf nf-md-eye_off"></i>
									{% endif %}
								</button>
							{% endif %}
						{% else %}
							There's nothing to watch
						{% endif %}
					{% else %}
						<a href="{{path('app_login')}}">Login to follow</a>
					{% endif %}
				</div>
			</div>
			<div class="m-3">
				<ul class="max-w-96">
					<h1 class="sm:hidden block text-3xl font-bold  text-white">{{ series.title }}</h1>

					<hr class="border-[--grey]">
					<li>
						<p class="text-[--white]">
							{% if series.imdb != "" %}
								<a href="https://www.imdb.com/title/{{ series.imdb }}">See more</a>
							{% else %}
								none
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Genre</h2>
						{% for genre in series.genre %}
							<button class="text-[--white] bg-[--grey] rounded m-1 ">{{ genre.name }}</button>
						{% endfor %}
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Director</h2>
						<p class="text-[--white]">
							{% if series.director != "" %}
								{{ series.director }}
							{% else %}
								unknown
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Awards</h2>
						<p class="text-[--white]">
							{% if series.awards != "" %}
								{{ series.awards }}
							{% else %}
								none
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Series start</h2>
						<p class="text-[--white]">
							{{ series.yearStart }}</p>
					</li>
					<li>
						<h2 class="font-bold text-[--grey]">Series end</h2>
						<p class="text-[--white]">
							{% if series.yearEnd != null %}
								{{ series.yearEnd }}
							{% else %}
								still running
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
				</ul>
			</div>
		</div>
		<div>
			<div class="m-3 flex flex-col">
				<div class="flex place-content-between w-[32rem] items-center">
					<h1 class="text-3xl font-bold  text-white">{{ series.title }}</h1>
					<div class="flex gap-1 justify-end items-center " style="width:-webkit-fill-available;">
						{% if app.user and not userRating %}
							<a class=" p-2 font-bold block" href="#post_your_rating">Post your rating</a>
						{% endif %}
						{% include('./_stars.html.twig') with {'rating': series.getRatingAvg()/2} %}
						<a class="px-1 text-[--grey] font-bold transition-all ease-in-out duration-200 hover:text-white" href="#ratings_zone">{{ ratings|length }}
							rates</a>
					</div>
				</div>
				<p class="md:w-1/2 px-2 py-5 text-base">
					<span>&emsp;</span>
					<span>&emsp;</span>
					{{ series.plot | raw}}</p>
				{# <hr class="border-[--grey] m-2"> #}
				<div method="get" id="seasons_episodes" class="flex justify-around flex-wrap flex-col gap-1 m-3 py-10">
					<div class="flex gap-1" id="seasons">
						{% for season in series.getSeasons() %}
							<div id="season-{{ loop.index }}" class="season relative rounded overflow-hidden">
								<button onclick="show_season({{loop.index}})" class="text-white p-2 ">Season
									{{ season.getNumber() }}</button>

								{% set progressBarId = "progress_bar_season_" ~ (loop.index) %}
								{% include ('./percentage.html.twig') with {'percent': percentages_seasons[loop.index-1], "name": progressBarId } %}
							</div>
						{% endfor %}
					</div>
					{% for season in series.getSeasons() %}
						{% set season_id = loop.index %}
						<div id="ep-season-{{ loop.index }}">
							{% for episode in season.getEpisodes() %}
								<div>
									{% if is_granted('ROLE_USER') %}
										<button onclick="mark_as_seen(event, '{{ path('app_series_update', {'id': series.getId(), 'update': episode.getId()}) }}')">
											{% if app.user.getEpisode().contains(episode) %}
												<i id="ep-{{episode.getId()}}" class="nf nf-fa-check"></i>
											{% else %}
												<i @click="following = true" id="ep-{{episode.getId()}}" class="nf nf-md-eye_off"></i>
											{% endif %}
										</button>
									{% endif %}
									{{ episode.getNumber() }}
									-
									<span>{{ episode.getTitle() }}</span>
								</div>
							{% endfor %}
							{% if season.getEpisodes()|length == 0 %}
								There's no episodes
							{% endif %}
						</div>
					{% endfor %}
					{% if series.getSeasons()|length == 0 %}
						There's no seasons
					{% endif %}
				</div>
			</div>
		</div>
		{% set url = series.youtubeTrailer | split('='	)[1] %}
		<iframe style=" -webkit-mask-image: radial-gradient(closest-side,#030516 0%, transparent 85%);" class="xl:block hidden absolute top-0 right-0 w-1/2 h-1/2 -z-10" width="560" id="trailer" height="315" allow="autoplay" src="https://youtube.com/embed/{{url}}?controls=0&autoplay=1&mute=1&modestbranding=1&showinfo=0&rel=0&loop=1&cc_load_policy=1&showinfo=0autohide=2&playlist={{url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"></iframe>
	</div>

	<a href="{{ path('app_series_index') }}" class="text-[--white] text-center text-2xl font-bold block">
		<i class="nf nf-md-keyboard_backspace"></i>
		Back to list
	</a>
	<div class="text-white bg-gray p-4 flex xl:flex-row flex-col" id="ratings_zone">
		<div class="xl:w-1/3">
			<a href="{{path('app_series_show',{'id': series.id})}}#ratings_zone"  class="text-4xl flex items-center w-full">
				{{ series.getRatingAvg()/2 }}/5
				<div class="nf nf-fa-star text-3xl ml-1"></div>
			</a>
			<div class="text-sm mb-4">
				{{totalSeriesCount}}
				ratings
			</div>
			<div class="flex flex-col-reverse ">
				{% for index, count in ratings_displayed %}
					{% set percentage = ( count * 1000)|round / 10 %}
					<a href="{{path('app_series_show', app.request.query.all| merge({'by_rate': index+1, 'id': series.id}))}}#ratings_zone" class="flex items-center gap-1 px-1	 {% if app.request.get('by_rate') == index+1 %} rounded w-fit bg-[--grey] {% endif %}">
						<div class="w-5 text-right ">{{ index +1}}</div>
						<div class="nf nf-fa-star ml-1 mb-0.5"></div>
						<div class="2xl:w-96 w-64 h-2 bg-gray-500 rounded-full ml-2">
							<div class="h-full bg-yellow-500 rounded-full" style="width: {{ percentage }}%;"></div>
						</div>
						<div class="ml-2">{{ percentage }}%</div>
					</a>
				{% endfor %}
			</div>
		</div>
		<div class="xl:w-2/3">
			{% if not ownRating and app.user %}
				<div>You've not reviewed this serie yet!</div>
				<div id="post_your_rating" class="xl:absolute xl:bottom-8 xl:right-8">
					<div class="max-w-md mx-auto p-4 bg-grey shadow-lg rounded-md">

						{{ form_start(ratingForm, {'method': 'POST'}, {'attr': {'class': 'mb-4'}}) }}
						<div class="mb-4 ">
							<div class="flex gap-6 mb-4">
								{% for i in 0..4 %}
									<div class="flex scale-[200%]">
										{% set fillstar = min(1,max(4.3 - i, 0)) * 100 %}
										<div class="relative  w-2 h-4 overflow-hidden" onclick="rate_star_click(true, {{i}})">
											<i id="rate-star-grey-left-{{i}}" class="absolute  nf nf-fa-star text-[--grey] hover:text-[--white]"></i>
											<i id="rate-star-yellow-left-{{i}}" class="absolute hidden nf nf-fa-star text-yellow-500 hover:text-yellow-300"></i>
										</div>
										<div class="relative w-2 h-4 overflow-hidden" onclick="rate_star_click(false,{{i}})">
											<i id="rate-star-grey-right-{{i}}" class="absolute -translate-x-1/2  nf nf-fa-star text-[--grey] hover:text-[--white]"></i>
											<i id="rate-star-yellow-right-{{i}}" class="absolute hidden -translate-x-1/2 nf nf-fa-star text-yellow-500 hover:text-yellow-300"></i>
										</div>
									</div>
								{% endfor %}
							</div>
							<p id="error_rating_value"></p>
							<div class="hidden">
								{{ form_row(ratingForm.value, {'attr': {'class': 'hidden', 'value':"", 'placeholder':"your rate"}}) }}
								{{ form_errors(ratingForm.value) }}
							</div>
						</div>

						<div class="mb-4">
							{{ form_row(ratingForm.comment, {'attr': {'class': '!outline-none bg-[--dark-blue] w-full px-3 py-2 border border-[--grey] rounded-md text-white]'}}) }}
							{{ form_errors(ratingForm.comment) }}
						</div>

						<button onclick="formSubmit(event)" onsubmit="formSubmit(event)" class="px-4 py-2 bg-indigo-500 text-white rounded-md">
							Post rate
						</button>

						{% for success in app.flashes('success') %}
							<p>{{ success }}</p>
						{% endfor %}

						{{ form_end(ratingForm) }}
					</div>
				</div>
			{% endif %}
			<div class="xl:w-2/3 flex flex-col">
				{% if ownRating %}
					<div id="{{ ownRating.user.id }}" class="flex flex-col gap-2  border border-gray-300 p-4 rounded-md ">
						<div class="font-bold text-[--grey] flex justify-between">
							<span>Your rating
								{% if ownRating.checkrate == 0 %}is waiting for validation
								{% endif %}
							</span>
							<form action="{{ path('app_rating_delete', {'id': ownRating.id, 'serieId': series.id}) }}" method="post">
								<input type="hidden" name="_method" value="DELETE">
								<input type="hidden" name="serieId" value="{{ series.id }}">
								<button type="submit" class=" font-bold p-x rounded">
									<i class="nf nf-md-delete_off text-red-500 hover:text-red-400"></i>
								</button>
							</form>
						</div>
						<div class="flex gap-2">
							<a class="text-white" href="{{path('app_user_show', {'id': ownRating.user.id })}}">{{ownRating.user.name}}</a>
							<div class="flex gap-1 relative items-center h-full">
								{% include('./_stars.html.twig') with {'rating': ownRating.value/2} %}
							</div>
							<p class="text-[--grey] font-bold">{{ ownRating.date|ago }}
								{# if date i further than 1 week show real date #}
								{% set timeDifference = ("now"|date("U") - ownRating.date|date("U")) %}
								{% if timeDifference > 60*60*24*7 %}
									<span>{{ ownRating.date|date("d/m/y") }}</span>
								{% endif %}
							</p>
						</div>
						<div class="text-lg text-[--white] italic">
							<p style="overflow-wrap: anywhere">{{ ownRating.comment| nl2br }}</p>
						</div>
					</div>
					<hr class="m-2 border-[--grey]">
				{% endif %}
				{% for r in ratings %}
					{% if not (app.user and r.user.id == app.user.id) %}
						<div id="{{ r.user.id }}" class="flex m-4 flex-col gap-2 ">
							<div class="flex flex justify-between">
								<div class="flex gap-2 ">
									<a class="text-white" href="{{path('app_user_show', {'id': r.user.id })}}">{{r.user.name}}</a>
									<div class="flex gap-1 relative items-center">
										{% include('./_stars.html.twig') with {'rating': r.value/2} %}
									</div>
									<p class="text-[--grey] font-bold">{{ r.date|ago }}
										{# if date i further than 1 week show real date #}
										{% set timeDifference = ("now"|date("U") - r.date|date("U")) %}
										{% if timeDifference > 60*60*24*7 %}
											<span>{{ r.date|date("d/m/y") }}</span>
										{% endif %}
									</p>
								</div>
								{% if app.user and app.user.admin != 0 %}
								<form action="{{ path('app_rating_delete', {'id': r.id, 'serieId': series.id}) }}" method="post">
									<input type="hidden" name="_method" value="DELETE">
									<input type="hidden" name="serieId" value="{{ series.id }}">
									<button type="submit" class=" font-bold p-x rounded">
										<i class="nf nf-md-delete_off text-red-500 hover:text-red-400"></i>
									</button>
								</form>
								{% endif %}
							</div>
							<div class="text-lg text-[--white] italic">
								<p style="overflow-wrap: anywhere">{{ r.comment }}</p>
							</div>
						</div>
						<hr class="m-2 border-[--grey]">
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	<script src="{{asset("follow.js")}}"></script>
	<script src="{{asset("panels_seasons.js")}}"></script>
	<script src="{{asset("stars_rating.js")}}"></script>

	<style>
		.current {
			background-color: var(--grey);
		}
	</style>

{% endblock %}
