{% extends 'base.html.twig' %}

{% block title %}
	{{ series.title }}
{% endblock %}

{% block body %}

	{% include('./header.html.twig') with {'poster_picture': path('app_series_poster', {'id': series.id}) } %}
	<div class="flex p-12 relative">
		<div class="flex flex-col">
			<div class="m-3 w-64">
				<img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="w-full">
				<div class="bg-[--grey] p-2 rounded flex justify-around">
					<i class="nf nf-fa-check"></i>
					<!--Needs to be replaced by the actual status-->
					<i class="nf nf-fa-check"></i>
				</div>
			</div>
			<div class="m-3">
				<ul class="max-w-96">
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Director</h2>
						<p class="text-[--white]">
							{% if series.director != "" %}
								{{ series.director }}
							{% else %}
								unknown
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Awards</h2>
						<p class="text-[--white]">
							{% if series.awards != "" %}
								{{ series.awards }}
							{% else %}
								none
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Series start</h2>
						<p class="text-[--white]">
							{{ series.yearStart }}</p>
					</li>
					<li>
						<h2 class="font-bold text-[--grey]">Series end</h2>
						<p class="text-[--white]">
							{% if series.yearEnd != null %}
								{{ series.yearEnd }}
							{% else %}
								still running
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
				</ul>
			</div>
		</div>
		<div>
			<div class="m-3 flex flex-col">
				<h1 class="text-3xl font-bold p-2 m-5">{{ series.title }}</h1>
				<p class="w-1/2">{{ series.plot }}</p>
				{# <hr class="border-[--grey] m-2"> #}
				<div method="get" class="flex justify-around flex-wrap flex-col gap-1 m-3 py-10">
					<div class="flex gap-1">
					{% for season in series.getSeasons() %}
						<button id="season-{{ loop.index }}" onclick="show_season({{loop.index}})" class="text-white p-2 rounded">Season
							{{ season.getNumber() }}</button>
					{% endfor %}
					</div>
					{% for season in series.getSeasons() %}
						<div  id="ep-season-{{ loop.index }}">
						{% for episode in season.getEpisodes() %}
							<div>
								<a href={{ path('app_series_update', {'id': series.id, 'update': episode.id}) }}><i class="nf nf-fa-check"></i></a>
								{{ episode.getNumber() }}
								-
								{{ episode.getTitle() }}
							</div>
						{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{% set url = series.youtubeTrailer | split('='	)[1] %}
		<iframe 
			style=" -webkit-mask-image: radial-gradient(closest-side,#030516 0%, transparent 95%);"			
			{# style="-webkit-mask-image: linear-gradient(90deg, transparent 0%, transparent 20%,black 50%, transparent 80%,transparent 100%),linear-gradient(0deg, transparent 0%, transparent 20%,black 50%, transparent 80%,transparent 100%);" #}
			class="absolute top-0 right-0 w-1/2 h-1/2 -z-10"
			width="560" 
			id="trailer" 
			height="315"   
			allow="autoplay" 
			src="https://youtube.com/embed/{{url}}?controls=0&autoplay=1&mute=1&modestbranding=1&showinfo=0&rel=0&loop=1&cc_load_policy=1&showinfo=0autohide=2&playlist={{url}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" ></iframe>
	</div>

	
	<a href="{{ path('app_series_index') }}" class="text-[--white] text-center text-2xl font-bold block">
		<i class="nf nf-md-keyboard_backspace"></i>
		Back to list</a>

	<style>
		.current {
			background-color: var(--grey);
		}
	</style>
	<script>
		function show_season(season) {
			{% for season in series.getSeasons() %}
				document.getElementById("ep-season-{{ loop.index }}").style.display = "none";
				document.getElementById("season-{{ loop.index }}").classList.remove("current");
			{% endfor %}
			document.getElementById("ep-season-" + season).style.display = "block";
			document.getElementById("season-" + season).classList.add("current");
		}
		show_season(1)
	</script>
{% endblock %}
