{% extends 'base.html.twig' %}

{% block title %}
	{{ series.title }}
{% endblock %}

{% block body %}

	{% include('./header.html.twig') with {'poster_picture': path('app_series_poster', {'id': series.id}) } %}

	<table>
		<tr>
			<td class="m-3 w-1/5">
				<img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="p-5 w-full">
				<div class="bg-[--grey] p-2 m-2 rounded flex justify-around">
					<i class="nf nf-fa-check"></i>
					<!--Needs to be replaced by the actual status-->
					<i class="nf nf-fa-check"></i>
				</div>
			</td>
			<td class="m-3 flex flex-col">
				<h1 class="text-3xl font-bold p-2 m-5">{{ series.title }}</h1>
				<p class="w-1/2">{{ series.plot }}</p>
				<hr class="border-[--grey] m-2">
				<form method="get" class="flex justify-around flex-wrap flex-col gap-1 m-3">
					{% for season in series.getSeasons() %}
						<a href="" class="bg-[--grey] text-white p-2 rounded">Season
							{{ season.getNumber() }}</a>
						{% for episode in season.getEpisodes() %}
							<div><a href={{ path('app_series_update', {'id': series.getId(), 'update': episode.getId()}) }}><i class="nf nf-fa-check"></i></a>
								{{ episode.getNumber() }}
								-
								{{ episode.getTitle() }}
							</div>
						{% endfor %}
					{% endfor %}
				</form>
			</td>
		</tr>
		<tr>
			<td class="m-3">
				<ul class="max-w-96">
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Director</h2>
						<p class="text-[--white]">
							{% if series.director != "" %}
								{{ series.director }}
							{% else %}
								unknown
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Awards</h2>
						<p class="text-[--white]">
							{% if series.awards != "" %}
								{{ series.awards }}
							{% else %}
								none
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
					<li>
						<h2 class="font-bold text-[--grey]">Series start</h2>
						<p class="text-[--white]">
							{{ series.yearStart }}</p>
					</li>
					<li>
						<h2 class="font-bold text-[--grey]">Series end</h2>
						<p class="text-[--white]">
							{% if series.yearEnd != null %}
								{{ series.yearEnd }}
							{% else %}
								still running
							{% endif %}
						</p>
					</li>
					<hr class="border-[--grey]">
				</ul>
			</td>
		</tr>
	</table>
	
	<a href="{{ path('app_series_index') }}" class="text-[--white] text-center text-2xl font-bold block">
		<i class="nf nf-md-keyboard_backspace"></i>
		Back to list</a>
{% endblock %}
