{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	{% include 'header.html.twig' %}
	<div class="text-xl w-full h-screen mt-12 flex lg:flex-row flex-col ">
		<div class="w-fit left-0  p-4">
			<div class="relative inline-block my-2.5">
				<span class="text-2xl md:text-3xl font-bold">

					{% if user.admin == 1 %}
						<i class="nf nf-md-shield"></i>
					{% elseif user.admin == 2 %}
						<i class="nf nf-md-shield" style='color: #8a1616;'></i>
						<!--Color of super admin must be replaced by tailwind class-->
					{% endif %}
					{{ user.name }}'s Profile
				</span>
				{% if app.user and app.user.id == user.id %}
					<a href="{{ path('app_user_settings', {'id': app.user.id}) }}">
						<i class="nf nf-cod-settings_gear"></i>
					</a>
				{% endif %}
			</div>
			<dl class="sm:divide-y sm:divide-[--grey]">
				<div class="p-1 sm:gap-4 ">
					<dt class="font-bold text-[--grey]">
						User name :
					</dt>
					<dd>
						<p>
							{{ user.name }}</p>
					</dd>
				</div>
				<div class="p-1 sm:gap-4 ">
					<dt class="font-bold text-[--grey]">
						Email :
					</dt>
					<dd class="mt-1 text-xl">
						<p>
							{{ user.email }}</p>
					</dd>
				</div>
				<div class="p-1 sm:gap-4 ">
					<dt class="font-bold text-[--grey]">
						Registered the :
					</dt>
					<dd class="mt-1 text-xl">
						<p>
							{{ user.registerDate ? user.registerDate|date('d/m/y') }}
						</p>
					</dd>
				</div>
				<div class="p-1 sm:gap-4 ">
					<dt class="font-bold text-[--grey]">
						Admin :
					</dt>
					<dd class="mt-1 text-xl">
						{% if user.admin != 0 %}
							<p>
								Yes
							</p>
						{% else %}
							<p>
								No
							</p>
						{% endif %}
					</dd>
				</div>
			</dl>
			<div class="flex flex-col gap-1 mt-2">
				{% if app.user %}
					{% if app.user != user %}
						<a href="{{ path('app_user_update_followed', {'id': user.id, 'route': 'app_user_show'}) }}" class="p-1 flex justify-center font-medium text-white rounded-lg bg-indigo-500 hover:bg-indigo-400">
						{% if user not in app.user.followed %}
							Follow
						{% else %}
							Unfollow
						{% endif %}
					{% endif %}
					</a>
					{% if app.user.admin != 0 %}
						<a href="{{ path('app_default', {'_switch_user':user.email}) }}" class="p-1 flex justify-center font-medium text-white rounded-lg bg-indigo-500 hover:bg-indigo-400">
							Embody
						</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="p-1 flex justify-center font-medium text-white rounded-lg bg-indigo-500 hover:bg-indigo-400">
							Edit
						</a>
						{% if user.ban == 0 %}
							<a href="{{ path('app_user_ban', {'id': user.id}) }}" class="p-1  flex justify-center font-medium text-white rounded-lg bg-indigo-500 hover:bg-indigo-400">
								Ban User
							</a>
						{% else %}
							<a href="{{ path('app_user_unban', {'id': user.id}) }}" class="p-1  flex justify-center font-medium text-white rounded-lg bg-indigo-500 hover:bg-indigo-400">
								Unban User
							</a>
						{% endif %}
						{{ include('user/_delete_form.html.twig') }}
					{% endif %}
				{% endif %}

			</div>
		</div>


		<div class="flex flex-col md:h-fit w-full scrollable">
			<div class="relative inline-block my-2.5 h-fit w-fit m-auto">
				<span class="text-2xl md:text-3xl font-bold">
					Followed Series
				</span>
				<span class="absolute -bottom-1 left-0 w-full h-1 bg-gradient-to-r from-indigo-900 via-sky-800 to-blue-600 rounded-full"></span>
			</div>
			{% include 'pagination.html.twig' with {'app_path': "app_user_show", "pagesNb": pagesNb, "id": user.id} %}
			<div class="md:grid flex gap-4 md:grid-cols-5 md:grid-rows-2 md:overflow-hidden overflow-auto ">
				{% for series in followedSeries %}
					<div class="flex flex-col md:px-0 px-5 ">
						<div class="relative w-[10rem] h-64 group overflow-hidden rounded">
							<a href="{{ path('app_series_show', {'id': series.id}) }}">
								<img src="{{ path('app_series_poster', {'id': series.id}) }}" alt="Series poster" class="shadow-sm w-full h-full object-cover max-w-48 ">
							</a>
						{% for r in ratings %}
							{% if series.getId() == r.series %}
								<a href="{{ path('app_series_show', {'id': r.series}) }}#{{ r.user.id }}" class="absolute top-1 left-1 text-base hover:bg-gray-600 rounded-lg border bg-gray-700 border-gray-600 text-white w-[80%] p-1">
									<div class="flex gap-2 h-4 justify-center items-center">
										{% include('./_stars.html.twig') with {'rating': r.value/2} %}
									</div>
									{% if r.comment %}
										<p class="line-clamp-3  p-1  p-1">{{ r.comment }}</p>
									{% endif %}
								</a>
							{% endif %}
						{% endfor %}
						</div>
					</div>
				{% else %}
					<div>
						<p>no records found</p>
					</div>
				{% endfor %}
			</div>
			{% include 'pagination.html.twig' with {'app_path': "app_user_show", "pagesNb": pagesNb, "id": user.id} %}

		</div>
	</div>

{% endblock %}
