{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% include('./header.html.twig') %}

    <style>

        section {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        form {
            gap:1rem;
            display: flex;
            flex-direction: column;
            background-color: var(--dark-blue);
            padding: 1rem;
            border-radius: 0.5rem;
            box-shadow: 3px 3px 5px 0 rgba(0, 0, 0, 1);
        }

        form >  div {
            display:flex;
            flex-direction: column;
        }
        form input, form select{
            background-color: var(--black);
            outline:none;
        }
        form > div:nth-child(7){
            align-items:center;
            width:100%;
        }
        form > div:nth-child(7) button{
            width:fit-content;
            background-color:var(--black);
            padding:0.5rem 1rem;
            color:white;
            border-radius:0.5rem;
            transition:all ease-in-out 100;
        }
        form div:nth-child(7) button:hover{
            background-color:black;
        }
    </style>

	<section class="flex absolute top-1/2 left-1/2 justify-center items-center ">


        {{ form_errors(registrationForm) }}

        {{ form_start(registrationForm) }}

		<h1 class="text-3xl text-white text-center font-bold">Create account</h1>

        {{ form_row(registrationForm.name, {
            'attr': {
                'placeholder': 'Your name'
            }
        }) }}

        {{ form_row(registrationForm.email, {
            'attr': {
                'placeholder': 'name@example.com'
            }
        }) }}

        {{ form_row(registrationForm.country) }}

        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
            'attr': {
                'placeholder': '**********'
            }
        }) }}

        {{ form_end(registrationForm) }}

    </section>

{% endblock %}
