{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% if not app.user %} 
        {% include('./header.html.twig') with {'poster_picture_id':  (hall_of_fame|first).id} %}
    {% else %}
        {% include('./header.html.twig') with {'poster_picture_id': (hall_of_fame|first).id, 'username': app.user.name} %}
    {% endif %}
    <div class="py-10 px-64">
        <div>
            {{ "now"|date("j F") }} 
        </div>
        <div>
            <p class="text-white bold text-4xl font-bold"> Hall of Fame</p>
            <ul class="flex gap-6 place-content-around flex-shrink-0 pb-20">
                {% for serie in hall_of_fame %}
                    <a href="{{ path('app_series_show', {'id': serie.id}) }}" class="flex gap-0 flex items-center">
                        <p class="text-xl font-extrabold" style="font-size:18rem">{{loop.index}}</p>
                        <img src="{{ path('app_series_poster', {'id': serie.id}) }}" alt="Series poster" class="translate-center object-cover -translate-x-12 h-80 translate-y-8">
                    </a>
                {% endfor %}
            </ul>
        </div>
        <hr class="py-2 ">
        <div>
            <div class="flex place-content-between">
                <p class="text-xl">You've recently seen them </p>
                <a class="rounded text-white cursor-pointer p-2">See more</a>
            </div>
            
            <ul class="flex gap-6 ">
                {% for serie in recently_seen %}
                    <a href="{{ path('app_series_show', {'id': serie.id}) }}" class="flex gap-0 flex ">
                        <img src="{{ path('app_series_poster', {'id': serie.id}) }}" alt="Series poster" class="translate-center object-cover h-64">
                    </a>
                {% endfor %}
        </div>
    </div>

{% endblock %}
