<header class="flex p-3 relative place-content-between relative min-[1850px]:px-64 2xl:px-32 text-white">
	{% set current_path = app.request.get('_route') %}
	{% if app.user or current_path != "app_default"  %}
		<div class="-z-10 absolute top-0 overflow-hidden  right-0 w-full h-full">
			{% if poster_picture_id is defined %}
				<img src="{{ path('app_series_poster', {'id': poster_picture_id}) }}" alt="Series poster" class="blur-xl  brightness-75 rotate-90 origin-top-right translate-y-2/4 w-full">
			{% else %}
				<img src="{{ asset('images/default.jpg') }}" alt="Series poster" class="blur-xl brightness-75 rotate-90 origin-top-right translate-y-2/4 w-full">
			{% endif %}
		</div>
	{% endif %}
	<a
		href="{{ path('app_default') }}" class="md:w-28 h-full w-12  absolute left-3 top-1 flex items-center z-10 ">
		{#-rotate-[8deg]#}
		<img src="{{ asset('images/logo.png') }}" alt="Home" class="w-fit h-fit absolute brightness-150 top-0 left-0 z-10 cursor-pointer">
	</a>
	<div class="gap-8 2xl:flex hidden">
		<a href="{{ path('app_series_index') }}" class="flex items-center z-10 font-bold text-2xl drop-shadow-md hover:text-white {% if current_path != 'app_series_index' %}text-[--white]{% endif %} ">Series</a>
		{% if app.user %}
			<a href="{{ path('app_series_show_followed') }}" class="flex items-center z-10 font-bold text-2xl  hover:text-white {% if current_path != 'app_series_show_followed' %}text-[--white]{% endif %} ">Followed</a>
		{% endif %}
		<a href="{{ path('app_user_index') }}" class="flex items-center z-10 font-bold text-2xl  hover:text-white	 {% if current_path != 'app_user_index' %}text-[--white]{% endif %} ">Users</a>
		{% if app.user and app.user.admin != 0 %}
			<a href="{{ path('app_series_add') }}" class="flex items-center z-10 font-bold text-2xl  hover:text-white	 {% if current_path != 'app_series_add' %}text-[--white]{% endif %} "> Add Series</a>
		{% endif %}
		{% if app.user %}
			<a href="{{ path('app_user_settings', { 'id': app.user.id }) }}" class="flex items-center z-10 font-bold text-2xl  hover:text-white	 {% if current_path != 'app_user_settings' %}text-[--white]{% endif %} "> Settings </a>
			<a href="{{ path('app_series_add') }}" class="flex items-center z-10 font-bold text-2xl  hover:text-white	 {% if current_path != 'app_series_add' %}text-[--white]{% endif %} "> Add Series</a>
			<a href="{{ path('app_admin_panel') }}" class="flex items-center z-10 font-bold text-2xl  hover:text-white	 {% if current_path != 'app_admin_panel' %}text-[--white]{% endif %} "> Admin Panel</a>
		{% endif %}
	</div>
	<div class="z-10 flex items-center gap-2 ml-auto">

		<div x-data="{ open: false }" class="relative ml-4">
			<button @click="open = !open" class="text-white focus:outline-none">
				<span class="sr-only">Toggle Menu</span>
				<svg class="h-8 w-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
				</svg>
			</button>

			<div x-show="open" @click.away="open = false" class="backdrop-blur absolute top-8 right-0 mt-2 bg-gray-800 bg-opacity-50 w-48 p-4 rounded-md ">
				<div class="2xl:hidden flex flex-col">
					<a href="{{ path('app_series_index') }}">Series</a>
					{% if app.user %}
						<a href="{{ path('app_series_show_followed') }}">Followed</a>
					{% endif %}
					<a href="{{ path('app_user_index') }}">Users</a>
					{% if app.user and app.user.admin != 0%}
						<a href="{{ path('app_series_add') }}"> Add Series </a>
					{% endif %}
				</div>
				{% if app.user %}
					{% if is_granted('IS_IMPERSONATOR') %}
						<a href="{{ impersonation_exit_path(path('app_user_index') ) }}">Exit impersonation</a>
						<br>
					{% elseif is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_user_index') }}">Users</a>
						<br>
					{% endif %}
					<a href="{{ path('app_logout') }}">
						Logout
					</a>
						<br>
					<div class="2xl:hidden block text-[--white] top-4">Logged in as
						{{app.user.name}}</div>
				{% else %}
					<a href="{{ path('app_register') }}" class="text-white">Register</a>
					<br>
					<a href="{{ path('app_login') }}" class="text-white">Login</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% if app.user %}
		<div class="2xl:block hidden absolute right-2 text-white top-4">Logged in as
			{{app.user.name}}</div>
	{% endif %}
</header>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
