<header class="flex p-3 relative overflow-hidden place-content-between">
    {% if poster_picture is defined %}
        <img src="{{poster_picture}}" alt="Series poster" class="blur-xl z-0 rotate-90 origin-top-right translate-y-2/4	w-full	 absolute top-0 left-0">
    {% else %}
        <img src="{{ asset('images/default.jpg') }}" alt="Series poster" class="blur-xl z-0 rotate-90 origin-top-right translate-y-2/4	w-full	 absolute top-0 left-0">
    {% endif %}
    <a href="{{ path('app_default') }}" class="flex items-center z-10 font-bold text-2xl text-white">Home</a>
    <div class="z-10 flex items-center gap-2">
        {% if is_granted('IS_IMPERSONATOR') %}
            <a href="{{ impersonation_exit_path(path('app_user_index') ) }}">Exit impersonation</a>
        {% elseif is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_user_index') }}">Users</a>
        {% endif %}
        <a href="{{ path('app_register') }}" class="z-10 text-white">Register</a>
        <a href="{{ path('app_login') }}" class="z-10 text-white">Login</a>
        <img class="w-10 h-10 rounded-full bg-black " src="" alt="profile picture">
    </div>
</header>