<header class="flex p-3 relative place-content-between relative px-64 gap-8 text-white">
	{% set current_path = app.request.get('_route') %}
	{% if app.user or current_path != "app_default"  %}
		<div class="-z-10 absolute top-0 overflow-hidden  right-0 w-full h-full">
			{% if poster_picture_id is defined %}
				<img src="{{ path('app_series_poster', {'id': poster_picture_id}) }}" alt="Series poster" class="blur-xl  brightness-75 rotate-90 origin-top-right translate-y-2/4 w-full">
			{% else %}
				<img src="{{ asset('images/default.jpg') }}" alt="Series poster" class="blur-xl brightness-75 rotate-90 origin-top-right translate-y-2/4 w-full">
			{% endif %}
		</div>
	{% endif %}
	<a
		href="{{ path('app_default') }}" class="w-28 h-10 absolute left-3 top-1 flex items-center z-10 ">
		{#-rotate-[8deg]#}
		<img src="{{ asset('images/logo.png') }}" alt="Home" class="absolute brightness-150 top-0 left-0 z-10 cursor-pointer">
	</a>
	<a href="{{ path('app_series_index') }}" class="flex items-center z-10 font-bold text-2xl drop-shadow-md {% if current_path != 'app_series_index' %}text-[--white]{% endif %} ">Series</a>
	{% if app.user %}
		<a href="{{ path('app_series_show_followed') }}" class="flex items-center z-10 font-bold text-2xl  {% if current_path != 'app_series_show_followed' %}text-[--white]{% endif %} ">Followed</a>
	{% endif %}
	<a href="{{ path('app_user_index') }}" class="flex items-center z-10 font-bold text-2xl  {% if current_path != 'app_user_index' %}text-[--white]{% endif %} ">User index</a>
	<div class="z-10 flex items-center gap-2 ml-auto">

		<div x-data="{ open: false }" class="relative ml-4">
			<button @click="open = !open" class="text-white focus:outline-none">
				<span class="sr-only">Toggle Menu</span>
				<svg class="h-8 w-8" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
					<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
				</svg>
			</button>

			<div x-show="open" @click.away="open = false" class="absolute top-8 right-0 mt-2 bg-gray-800 bg-opacity-50 w-48 p-4 rounded-md ">
				{% if app.user %}
					{% if is_granted('IS_IMPERSONATOR') %}
						<a href="{{ impersonation_exit_path(path('app_user_index') ) }}">Exit impersonation</a>
						<br>
					{% elseif is_granted('ROLE_ADMIN') %}
						<a href="{{ path('app_user_index') }}">Users</a>
						<br>
					{% endif %}
					<a href="{{ path('app_logout') }}">
						Logout
					</a>
				{% else %}
					<a href="{{ path('app_register') }}" class="text-white">Register</a>
					<br>
					<a href="{{ path('app_login') }}" class="text-white">Login</a>
				{% endif %}
			</div>
		</div>
	</div>
	{% if app.user %}
	<div class="absolute right-2 text-white top-4">Logged in as {{app.user.name}}</div>
	{% endif %}
</header>

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
